@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.overlay {
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.place-item {
    text-align: left;
}

.results {
    text-align: left;
}

.results__icon {
    height: 38px;
    margin-right: 15px;
    width: auto;
}

.results__title {
    display: flex;
}

.action-icon {
    width: 20px;
    height: auto;
}